body{

    background-image: url('https://cutewallpaper.org/25/anime-wallpaper-view-back/971221823.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin:0;
    background-attachment: fixed;
    /* height: 100vh; */
    color: aliceblue;
}

.box8{
    text-align: center;
    margin: 60px auto 0 auto;
    margin-top: 12% !important;
    border-radius: 10px;
    width: 60%;
    background-color: rgba(240, 248, 255, 0.477);
    border: 1px solid rgb(0, 0, 0);
    box-shadow:
    0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048),
    0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.search1{
    font-size: 2rem;   
}
.copyright{
    text-align: center;
    margin: 50px;
}
.head{
    text-align: center;
    background-color: transparent; 
   
 }

 .container1,.container2,.box6{
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    
}
.box2{
    padding: 14px;
    padding-left: 0px;
}
.desc{
    font-size: 1.6rem;
    font-weight: bold;
}
